<link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@600;700&display=swap" rel="stylesheet">

<style>

/* NAVBAR CONTAINER */

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
background:#4b2a3a;
padding:26px 160px;
height:120px;
position:relative;
font-family:Georgia, serif;
}


/* LEFT MENU */

.nav-left{
display:flex;
gap:140px;
}

.nav-left a{
color:white;
text-decoration:none;
font-size:20px;
letter-spacing:3px;
transition:.3s ease;
}


/* RIGHT MENU */

.nav-right{
display:flex;
gap:140px;
}

.nav-right a{
color:white;
text-decoration:none;
font-size:20px;
letter-spacing:3px;
transition:.3s ease;
}


/* CENTER LOGO BLOCK */

.logo-wrapper{
position:absolute;
left:50%;
top:50%;
transform:translate(-50%, -50%);
text-align:center;
}


/* CUSTOM LOGO IMAGE (BIGGER NOW) */

.logo-img{
height:110px;

filter:
drop-shadow(0px 0px 8px rgba(212,175,55,0.5))
drop-shadow(0px 0px 18px rgba(212,175,55,0.35));

transition:.4s ease;
}


/* LOGO HOVER EFFECT */

.logo-img:hover{
transform:scale(1.08);
}


/* VAKAYA VANI TEXT STYLE */

.brand-name{

font-family:"Cinzel", serif;

font-size:30px;

letter-spacing:8px;

margin-top:6px;

color:#f4e2b6;

/* SOFT GOLDEN GLOW */

text-shadow:
0px 0px 6px rgba(212,175,55,0.6),
0px 0px 18px rgba(212,175,55,0.35);

}


/* NAV LINK HOVER */

.navbar a:hover{
color:#d4af37;
}

</style>



<div class="navbar">

<div class="nav-left">
<a href="/">Home</a>
<a href="/translate">Translation</a>
</div>


<div class="logo-wrapper">

<img src="/static/images/logo.png" class="logo-img">

<div class="brand-name">
Vakaya Vani
</div>

</div>


<div class="nav-right">
<a href="/chant">Chant</a>
<a href="/about">About</a>
</div>

</div>
