<style>

/* NAVBAR CONTAINER */

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
background:#4b2a3a;
padding:24px 140px;
height:100px;
position:relative;
font-family:Georgia, serif;
}


/* LEFT LINKS */

.nav-left{
display:flex;
gap:140px;
}

.nav-left a{
color:white;
text-decoration:none;
font-size:18px;
letter-spacing:2px;
transition:0.3s ease;
}


/* RIGHT LINKS */

.nav-right{
display:flex;
gap:140px;
}

.nav-right a{
color:white;
text-decoration:none;
font-size:18px;
letter-spacing:2px;
transition:0.3s ease;
}


/* CENTER LOGO BLOCK */

.logo-wrapper{
position:absolute;
left:50%;
top:50%;
transform:translate(-50%, -50%);
text-align:center;
}


/* CUSTOM LOGO IMAGE */

.logo-img{
height:80px;
display:block;
margin:auto;

/* SOFT GOLD GLOW */

filter:
drop-shadow(0px 0px 6px rgba(212,175,55,0.5))
drop-shadow(0px 0px 12px rgba(212,175,55,0.35));

transition:0.4s ease;

animation:logoGlow 3s ease-in-out infinite alternate;
}


/* GLOW ANIMATION */

@keyframes logoGlow{

from{
filter:
drop-shadow(0px 0px 4px rgba(212,175,55,0.35))
drop-shadow(0px 0px 8px rgba(212,175,55,0.25));
}

to{
filter:
drop-shadow(0px 0px 12px rgba(212,175,55,0.7))
drop-shadow(0px 0px 22px rgba(212,175,55,0.45));
}

}


/* HOVER EFFECT */

.logo-img:hover{
transform:scale(1.08);
}


/* BRAND TEXT */

.brand-name{
color:white;
font-size:22px;
letter-spacing:6px;
margin-top:6px;
}


/* LINK HOVER COLOR */

.navbar a:hover{
color:#d4af37;
}

</style>



<div class="navbar">

<div class="nav-left">
<a href="/">Home</a>
<a href="/translate">Translation</a>
</div>


<div class="logo-wrapper">

<img src="/static/images/logo.jpeg" class="logo-img">

<div class="brand-name">Vakaya Vani</div>

</div>


<div class="nav-right">
<a href="/chant">Chant</a>
<a href="/about">About</a>
</div>


</div>
